release
debug

*.[oa]
*~
*.lib
*.dll
*.user
*.exe
*.out

# The user can add this specially if they need it
Makefile*

# Qt-specific ignores
ui_*.h
moc_*.cpp
qrc_*.cpp
*.Debug
*.Release
*.pro.user*
*-build-desktop

*.sqlite
*.log
*.txt
